<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDefault}">

<th:block layout:fragment="content">
    <main>
        <div class="container-fluid px-4">
            <h1 th:text="${currentMenu.subMenuList == null ? currentMenu.menuName : currentMenu.subMenuList[0].menuName}"></h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">
                    <span th:text="${currentMenu.menuName}">1뎁스</span>
                </li>
                <li class="breadcrumb-item active"
                    th:if="${currentMenu.subMenuList != null and #lists.size(currentMenu.subMenuList) > 0}">
                    <span th:text="${currentMenu.subMenuList[0].menuName}">2뎁스</span>
                </li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    사용자 목록
                </div>
                <div class="card-body">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            setGrid();
        });
        function setGrid() {
            const grid = new tui.Grid({
                el: document.getElementById('grid'),
                data: {
                    api: {
                        readData: { url: '/api/user/list', method: 'GET' }
                    }
                },
                columns: [
                    { header: '아이디', name: 'username', align: 'left' },
                    { header: '이름', name: 'name', align: 'left' },
                    { header: '전화번호', name: 'telNo', align: 'center'},
                    { header: '팩스번호', name: 'faxNo', align: 'center'},
                    { header: '권한', name: 'roleName', align: 'center'},
                    { header: '등록일', name: 'regDt', align: 'center'}
                ],
                pageOptions: {
                    useClient: true,
                    perPage: 10
                },
                rowHeaders: ['rowNum'], // 행 번호
                scrollX: false,
                scrollY: true
            });
        }
    </script>
</th:block>
</html>