<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="managerModalFragment">
    <div class="modal fade" id="managerModal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">담당자 선택</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <form id="managerSearchForm" class="mb-3">
                        <table class="table table-bordered table-sm align-middle mb-2">
                            <tbody>
                            <tr>
                                <th class="text-center" style="width: 100px;">아이디</th>
                                <td><input type="text" name="username" class="form-control form-control-sm"></td>
                                <th class="text-center" style="width: 100px;">이름</th>
                                <td><input type="text" name="name" class="form-control form-control-sm"></td>
                                <td style="width: 80px;">
                                    <button type="button" class="btn btn-primary btn-sm w-100" onclick="searchManagerList()">조회</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>

                    <div id="managerGrid"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="selectManager()">선택</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('managerModal').addEventListener('shown.bs.modal', function () {
            if (!managerGrid) {
                setManagerGrid();
            } else {
                managerGrid.refreshLayout();
            }
        });

        var managerGrid = null;

        function setManagerGrid() {
            managerGrid = new tui.Grid({
                el: document.getElementById('managerGrid'),
                data: {
                    api: {
                        readData: { url: '/api/user/list', method: 'GET' }
                    }
                },
                columns: [
                    { header: '사용자아이디', name: 'userId', align: 'left', hidden: true},
                    { header: '아이디', name: 'username', align: 'left', resizable: true },
                    { header: '사용자명', name: 'name', align: 'left', resizable: true },
                    { header: '전화번호', name: 'telNo', align: 'center', resizable: true},
                    { header: '팩스번호', name: 'faxNo', align: 'center', resizable: true},
                    { header: '권한명', name: 'roleName', align: 'center', resizable: true}
                ],
                pageOptions: {
                    useClient: false,
                    perPage: 10
                },
                rowHeaders: [
                    {
                        header: '선택',
                        renderer: {
                            type: customRadioRenderer('rowRadioManager')
                        }
                    }
                ],
                scrollX: false,
                scrollY: false
            });

            managerGrid.on('click', function (ev) {
                if (ev.rowKey != null) {
                    const radio = document.querySelector(`input[name="rowRadioManager"][data-row-key="${ev.rowKey}"]`);
                    if (radio) {
                        radio.checked = true;
                        radio.dispatchEvent(new Event('change'));
                    }
                }
            });
        }

        function searchManagerList() {
            const params = formToObject(document.getElementById('managerSearchForm'));
            managerGrid.readData(1, params, true);
        }

        function selectManager() {
            const selectedRadio = document.querySelector('#managerModal input[name="rowRadioManager"]:checked');
            if (!selectedRadio) {
                alert("선택된 항목이 없습니다.");
                return;
            }
            const rowData = managerGrid.getRow(Number(selectedRadio.dataset.rowKey));
            const estimateForm = document.getElementById('estimateForm');
            const fieldMap = {
                userId : 'managerId'
                , name : 'managerName'
                , telNo : 'managerTelNo'
                , faxNo : 'managerFaxNo'
            }
            setFields(rowData, estimateForm, fieldMap);
            bootstrap.Modal.getInstance(document.getElementById('managerModal')).hide();
        }
    </script>
</th:block>
</html>