<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="updatePasswordModalFragment">
    <div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePasswordModalLabel">비밀번호 수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <form id="userFasswordUpdateForm">
                        <input type="hidden" name="userId" id="passwordUserId" th:value="${#authentication.getName()}"/>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="password" name="password" id="password" placeholder="비밀번호" />
                            <label for="password">비밀번호</label>
                            <div id="passwordError" class="text-danger small"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="비밀번호확인" />
                            <label for="confirmPassword">비밀번호확인</label>
                            <div id="confirmPasswordError" class="text-danger small"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="fetchUserPasswordUpdate();" class="btn btn-primary btn-block">수정</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function fetchUserPasswordUpdate() {
            const updateData = formToJson(document.getElementById('userFasswordUpdateForm'));
            var confirmMessage = '[[#{update.confirm}]]';
            if(confirm(confirmMessage)) {
                fetch('/api/user/updatePassword', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                        , "Accept": "application/json"
                    },
                    body: JSON.stringify(updateData),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.code === "00") {
                        alert('[[#{update.password.success}]]');
                        window.location.href = '/logout';

                    } else if (data.code === "99") {
                        document.querySelectorAll(".text-danger").forEach(el => el.textContent = '');
                        for (const field in data.fieldErrors) {
                            const errorDiv = document.getElementById(`${field}Error`);
                            if (errorDiv) {
                                errorDiv.innerText = data.fieldErrors[field].join('\n');
                            }
                        }
                    } else {
                        alert(data.message || "오류가 발생했습니다.");
                    }
                })
                .catch(err => {
                    console.error(err);
                    alert("요청 중 오류가 발생했습니다.");
                });
            }
        }
    </script>
</th:block>
</html>