<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDefault}">

<th:block layout:fragment="content">
    <th:block th:replace="~{admin/nvrschedule/insertModal :: insertModalFragment}"></th:block>
    <th:block th:replace="~{admin/nvrschedule/detailModal :: detailModalFragment}"></th:block>
    <th:block th:replace="~{admin/nvrschedule/updateModal :: updateModalFragment}"></th:block>
    <main>
        <div class="container-fluid px-4">
            <h1 th:text="${currentMenu.subMenuList == null ? currentMenu.menuName : currentMenu.subMenuList[0].menuName}"></h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">
                    <span th:text="${currentMenu.menuName}">1뎁스</span>
                </li>
                <li class="breadcrumb-item active"
                    th:if="${currentMenu.subMenuList != null and #lists.size(currentMenu.subMenuList) > 0}">
                    <span th:text="${currentMenu.subMenuList[0].menuName}">2뎁스</span>
                </li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="mb-0 fw-bold"><span class="material-symbols-outlined align-middle me-1 fs-5">event</span> 스케쥴 목록</h5>
                        <div>
                            <button type="button" class="btn btn-success btn-sm" onclick="reset()">새로고침</button>
                            <button type="button" class="btn btn-success btn-sm" onclick="openInsertModal()">등록</button>
                            <button type="button" class="btn btn-success btn-sm" onclick="openDetailModal()">상세</button>
                            <button type="button" class="btn btn-success btn-sm" onclick="openUpdateModal()">수정</button>
                            <button type="button" class="btn btn-success btn-sm" onclick="deleteSchedule()">삭제</button>
                        </div>
                    </div>
                    <form id="nvrScheduleSearchForm" class="mb-3">
                        <table class="table table-bordered table-sm align-middle mb-2">
                            <tbody>
                            <tr>
                                <th class="text-center" style="width: 100px;">카메라</th>
                                <td>
                                    <select class="form-select" id="searchCameraId" name="cameraId" required>
                                        <option value="">선택</option>
                                        <option th:each="camera : ${cameraList}" th:value="${camera.cameraId}" th:text="${camera.cameraName}" th:selected="${camera.cameraId} == ${selectedCameraId}">
                                        </option>
                                    </select>
                                </td>

                                <th class="text-center" style="width: 100px;">스케쥴아이디</th>
                                <td><input type="text" name="scheduleId" class="form-control form-control-sm"></td>
                                <th class="text-center" style="width: 100px;">스케쥴명</th>
                                <td><input type="text" name="scheduleName" class="form-control form-control-sm"></td>
                                <td style="width: 80px;">
                                    <button type="button" class="btn btn-primary btn-sm w-100" onclick="searchScheduleList()">조회</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>

                    <div id="nvrScheduleGrid"></div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            setNvrScheduleGrid();

            const selectedCameraId = document.getElementById("searchCameraId")?.value;
            if (selectedCameraId) {
                searchScheduleList();
            }
        });

        var nvrScheduleGrid = null;

        function setNvrScheduleGrid() {
            nvrScheduleGrid = new tui.Grid({
                el: document.getElementById('nvrScheduleGrid'),
                data: {
                    api: {
                        readData: { url: '/api/nvrschedule/list', method: 'GET' }
                    }
                },
                columns: [
                    { header: '스케쥴아이디', name: 'scheduleId', align: 'center' },
                    { header: '카메라아이디', name: 'cameraId', align: 'center' },
                    { header: '스케쥴명', name: 'scheduleName', align: 'left' },
                    { header: '시작일자', name: 'startDate', align: 'center'},
                    { header: '종료일자', name: 'endDate', align: 'center'},
                    { header: '주기 (분)', name: 'cycle', align: 'right'},
                    { header: '길이 (분)', name: 'duration', align: 'right'},
                    { header: '등록자아이디', name: 'regId', align: 'left', hidden: true},
                    { header: '등록자', name: 'regUserName', align: 'left', hidden: true},
                    { header: '등록일시', name: 'regDt', align: 'center'}
                ],
                pageOptions: {
                    useClient: false,
                    perPage: 10
                },
                rowHeaders: [
                    {
                        header: '선택',
                        renderer: {
                            type: customRadioRenderer('rowRadio')
                        }
                    }
                ],
                scrollX: true,
                scrollY: true
            });
            tui.Grid.applyTheme('striped');
            // 버튼 이외의 행을 클릭해도 선택 되도록 설정
            nvrScheduleGrid.on('click', function (ev) {
                if (ev.rowKey != null) {
                    const radio = document.querySelector(`input[name="rowRadio"][data-row-key="${ev.rowKey}"]`);
                    if (radio) {
                        radio.checked = true;
                        radio.dispatchEvent(new Event('change'));
                    }
                }
            });
        }

        function searchScheduleList() {
            const params = formToObject(document.getElementById('nvrScheduleSearchForm'));
            nvrScheduleGrid.readData(1, params, true);
        }

        function reset() {
            document.getElementById('nvrScheduleSearchForm').reset();
            const cameraSelect = document.getElementById('searchCameraId');
            if (cameraSelect) {
                cameraSelect.selectedIndex = 0;
            }
            nvrScheduleGrid.readData(1, {}, true);
        }

        function openInsertModal() {
            const insertForm = document.getElementById('nvrScheduleInsertForm');
            insertForm.querySelectorAll(".text-danger").forEach(el => el.textContent = '');
            insertForm.reset();

            const modal = new bootstrap.Modal(document.getElementById('insertModal'));
            modal.show();
        }

        function openDetailModal() {
            const selectedRadio = document.querySelector('input[name="rowRadio"]:checked');
            if (!selectedRadio) {
                alert('[[#{select.nvrSchedule.detail}]]');
                return;
            }
            const scheduleId = nvrScheduleGrid.getRow(Number(selectedRadio.dataset.rowKey)).scheduleId;

            loadNvrScheduleForDetail(scheduleId);

            const modal = new bootstrap.Modal(document.getElementById('detailModal'));
            modal.show();
        }

        function openUpdateModal() {
            const selectedRadio = document.querySelector('input[name="rowRadio"]:checked');
            if (!selectedRadio) {
                alert('[[#{select.nvrSchedule.update}]]');
                return;
            }
            const scheduleId = nvrScheduleGrid.getRow(Number(selectedRadio.dataset.rowKey)).scheduleId;
            document.getElementById('nvrScheduleUpdateForm').querySelectorAll(".text-danger").forEach(el => el.textContent = '');

            loadNvrScheduleForUpdate(scheduleId);

            const modal = new bootstrap.Modal(document.getElementById('updateModal'));
            modal.show();
        }

        function loadNvrScheduleForUpdate(scheduleId) {
            apiJsonRequest({
                url: `/api/nvrschedule/${scheduleId}`,
                method: "GET"
            },
            (data) => {
                setNvrScheduleFormForUpdate(data.nvrSchedule);
            });
        }

        function loadNvrScheduleForDetail(scheduleId) {
            apiJsonRequest({
                url: `/api/nvrschedule/${scheduleId}`,
                method: "GET"
            },
            (data) => {
                setNvrScheduleFormForUpdate(data.nvrSchedule);
            });
        }

        function setNvrScheduleFormForUpdate(nvrSchedule) {
            const form = document.getElementById('nvrScheduleUpdateForm');

            const fieldMap = {
                cameraId: 'cameraId',
                scheduleId: 'scheduleId',
                scheduleName: 'scheduleName',
                cycle: 'cycle',
                duration: 'duration',
                startDate: 'startDate',
                endDate: 'endDate'
            };

            for (const key in fieldMap) {
                if (form.elements[fieldMap[key]]) {
                    form.elements[fieldMap[key]].value = nvrSchedule[key] ?? '';
                }
            }
        }

        function loadNvrScheduleForDetail(scheduleId) {
            apiJsonRequest({
                url: `/api/nvrschedule/detail/${scheduleId}`,
                method: "GET"
            },
            (data) => {
                console.log(data.nvrSchedule);
                setNvrScheduleFormForDetail(data.nvrSchedule);
            });
        }

        function setNvrScheduleFormForDetail(nvrSchedule) {
            const form = document.getElementById('nvrScheduleDetailForm');
            const fieldMap = {
                camera: 'detailCamera',
                serverId: 'detailServerId',
                cameraRegDt: 'detailCameraRegDt',
                scheduleName: 'detailScheduleName',
                cycle: 'detailCycle',
                duration: 'detailDuration',
                startDate: 'detailStartDate',
                endDate: 'detailEndDate'
            };

            for (const key in fieldMap) {
                if (form.elements[fieldMap[key]]) {
                    form.elements[fieldMap[key]].value = nvrSchedule[key] ?? '';
                }
            }

        }

        function deleteSchedule() {
            var confirmMessage = '[[#{delete.confirm}]]';
            const selectedRadio = document.querySelector('input[name="rowRadio"]:checked');
            const scheduleId = nvrScheduleGrid.getRow(Number(selectedRadio.dataset.rowKey)).scheduleId;

            if (confirm(confirmMessage)) {
                apiJsonRequest({
                    url: `/api/nvrschedule/${scheduleId}`,
                    method: "DELETE"
                },
                (data) => {
                    alert('[[#{delete.success}]]');
                    searchScheduleList();
                });
            }
        }
    </script>
</th:block>
</html>