<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="businessModalFragment">
    <div class="modal fade" id="businessModal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">사업자 선택</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <form id="businessSearchForm" class="mb-3">
                        <table class="table table-bordered table-sm align-middle mb-2">
                            <tbody>
                            <tr>
                                <th class="text-center" style="width: 100px;">상호명</th>
                                <td><input type="text" name="businessName" class="form-control form-control-sm"></td>
                                <th class="text-center" style="width: 100px;">대표자명</th>
                                <td><input type="text" name="representativeName" class="form-control form-control-sm"></td>
                                <td style="width: 80px;">
                                    <button type="button" class="btn btn-primary btn-sm w-100" onclick="searchBusinessList()">조회</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>

                    <div id="businessGrid"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="selectBusiness()">선택</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('businessModal').addEventListener('shown.bs.modal', function () {
            if (!businessGrid) {
                setBusinessGrid();
            } else {
                businessGrid.refreshLayout();
            }
        });

        var businessGrid = null;

        function setBusinessGrid() {
            businessGrid = new tui.Grid({
                el: document.getElementById('businessGrid'),
                data: {
                    api: {
                        readData: { url: '/api/business/list', method: 'GET' }
                    }
                },
                columns: [
                    { header: '사업자아이디', name: 'businessId', align: 'left', hidden: true},
                    { header: '상호명', name: 'businessName', align: 'left', resizable: true },
                    { header: '대표자명', name: 'representativeName', align: 'left', resizable: true },
                    { header: '사업자등록번호', name: 'registrationNumber', align: 'center', resizable: true},
                    { header: '주소', name: 'address', align: 'left', resizable: true},
                    { header: '전화번호', name: 'telNo', align: 'center', resizable: true},
                    { header: '팩스번호', name: 'faxNo', align: 'center', resizable: true},
                    { header: '업태', name: 'businessType', align: 'center', resizable: true},
                    { header: '종목', name: 'industryType', align: 'center', resizable: true}
                ],
                pageOptions: {
                    useClient: false,
                    perPage: 10
                },
                rowHeaders: [
                    {
                        header: '선택',
                        renderer: {
                            type: customRadioRenderer('rowRadioBusiness')
                        }
                    }
                ],
                scrollX: false,
                scrollY: false
            });
            // 버튼 이외의 행을 클릭해도 선택 되도록 설정
            businessGrid.on('click', function (ev) {
                if (ev.rowKey != null) {
                    const radio = document.querySelector(`input[name="rowRadioBusiness"][data-row-key="${ev.rowKey}"]`);
                    if (radio) {
                        radio.checked = true;
                        radio.dispatchEvent(new Event('change'));
                    }
                }
            });
        }

        function searchBusinessList() {
            const params = formToObject(document.getElementById('businessSearchForm'));
            businessGrid.readData(1, params, true);
        }

        function selectBusiness() {
            const selectedRadio = document.querySelector('#businessModal input[name="rowRadioBusiness"]:checked');
            if (!selectedRadio) {
                alert("선택된 항목이 없습니다.");
                return;
            }
            const rowData = businessGrid.getRow(Number(selectedRadio.dataset.rowKey));
            const estimateForm = document.getElementById('estimateForm');
            const fieldMap = {
                businessId : 'businessId'
                , businessName : 'businessName'
                , representativeName : 'representativeName'
                , registrationNumber : 'registrationNumber'
                , address : 'businessAddress'
                , telNo : 'businessTelNo'
                , faxNo : 'businessFaxNo'
                , businessType : 'businessType'
                , industryType : 'industryType'
            }
            setFields(rowData, estimateForm, fieldMap);
            bootstrap.Modal.getInstance(document.getElementById('businessModal')).hide();
        }
    </script>
</th:block>
</html>