<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutLogin}">

<th:block layout:fragment="content">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="login-container">

                    <div class="login-card">
                        <div class="login-header">
                            <img src="/assets/img/mango_icon.png" alt="Mango Icon" class="login-icon">
                            <span class="login-title">MangoPuree</span>
                        </div>
                        <form th:action="@{/loginProcess}" id="loginForm" method="post">
                            <div class="input-group mb-3">
                                <input class="form-control" id="username" name="username" type="text" placeholder="아이디" />
                                <span class="input-group-text"><i class="material-symbols-outlined">person</i></span>
                            </div>
                            <div class="input-group mb-3">
                                <input class="form-control" id="password" name="password" type="password" placeholder="비밀번호" />
                                <span class="input-group-text"><i class="material-symbols-outlined">lock</i></span>
                            </div>
                            <div class="mt-4 mb-0">
                                <button class="btn btn-primary w-100" type="submit">로그인</button>
                            </div>
                        </form>
                        <div class="text-center py-3"><a href="/login/signup">회원가입</a></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            loginStatus();
        };

        function loginStatus() {
            var successMessage = "[[${successMessage}]]";
            if (successMessage && successMessage.trim() !== "") alert(successMessage);

            var errorMessage = "[[${errorMessage}]]";
            if (errorMessage && errorMessage.trim() !== "") alert(errorMessage);
        }

        function signup() {
            location.href = '/login/signup';
        }
    </script>
</th:block>
</html>