<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutLogin}">

<th:block layout:fragment="content">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="login-container">

                    <div class="login-card signup-card">
                        <div class="login-header">
                            <img src="/assets/img/mango_icon.png" alt="Mango Icon" class="login-icon">
                            <span class="login-title">회원가입</span>
                        </div>

                        <form th:action="@{/login/signup}" th:object="${userSignupDto}" method="post" th:onsubmit="return confirmSignup();">

                            <div class="input-group mb-3">
                                <input class="form-control" type="text" id="username" th:field="*{username}" placeholder="아이디" />
                                <span class="input-group-text"><i class="material-symbols-outlined">person</i></span>
                            </div>
                            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger small mb-2"></div>

                            <div class="input-group mb-3">
                                <input class="form-control" type="text" id="name" th:field="*{name}" placeholder="이름" />
                                <span class="input-group-text"><i class="material-symbols-outlined">badge</i></span>
                            </div>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger small mb-2"></div>

                            <div class="row mb-3">
                                <div class="col">
                                    <div class="input-group">
                                        <input class="form-control" type="password" id="password" th:field="*{password}" placeholder="비밀번호" />
                                        <span class="input-group-text"><i class="material-symbols-outlined">lock</i></span>
                                    </div>
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger small mb-2"></div>
                                </div>

                                <div class="col">
                                    <div class="input-group">
                                        <input class="form-control" type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="비밀번호 확인" />
                                        <span class="input-group-text"><i class="material-symbols-outlined">lock</i></span>
                                    </div>
                                    <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger small mb-2"></div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <input class="form-control" type="text" id="telNo" th:field="*{telNo}" placeholder="전화번호" />
                                <span class="input-group-text"><i class="material-symbols-outlined">call</i></span>
                            </div>
                            <div th:if="${#fields.hasErrors('telNo')}" th:errors="*{telNo}" class="text-danger small mb-2"></div>

                            <div class="input-group mb-3">
                                <input class="form-control" type="text" id="faxNo" th:field="*{faxNo}" placeholder="팩스번호" />
                                <span class="input-group-text"><i class="material-symbols-outlined">print</i></span>
                            </div>
                            <div th:if="${#fields.hasErrors('faxNo')}" th:errors="*{faxNo}" class="text-danger small mb-2"></div>

                            <div class="mt-4 mb-0">
                                <button type="submit" class="btn btn-primary w-100">회원가입</button>
                            </div>

                        </form>

                        <div class="text-center py-3">
                            <a href="/login">로그인 페이지로</a>
                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>

    <script type="text/javascript">
        function confirmSignup() {
            var confirmMessage = '[[#{signup.confirm}]]';
            return confirm(confirmMessage);
        }
    </script>
</th:block>
</html>